body {
    height: 100vh;
    padding: 1rem;
}

.page-container {
    min-width: 22rem;
    max-width: 45rem;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.submit-button {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ddd;
    border-radius: 0.35rem;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 1.5rem;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.form-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.animal-form {
    width: 20rem;
    height: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.5rem;
    transition: ease-in-out 0.2s;
}

.animal-form > .form-heading {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animal-form > .form-input {
    width: fit-content;
    align-self: center;
    position: relative;
}

.animal-form > .form-input > .submit-button {
    position: absolute;
    width: 3rem;
    top: 2px;
    right: 2px;
}

.animal-form > .form-input > .input-name {
    height: 2.125rem;
    width: 3rem;
    padding-left: 1rem;
    padding-right: 3.5rem;
    opacity: 0;
    justify-self: center;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    transition: ease-in-out 0.2s;
}

.animal-form > .form-input > .submit-button {
    transition: ease-in-out 0.2s;
    opacity: 0;
    z-index: -1;
}

.animal-list {
    margin-top: 1rem;
    list-style: decimal outside;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animal-list > .animal {
    width: 10rem;
    justify-self: center;
    overflow-wrap: break-word;
}

.error {
    min-height: 2rem;
    max-height: 2rem;
    opacity: 0;
    color: red;
    transition: ease-in-out 0.2s;
}

.error-visible {
    opacity: 1;
    max-height: 10rem;
}

.submit-button:hover {
    border: 2px solid #999;
    box-shadow: #32325d40 0 13px 27px -5px, #0000004d 0 8px 16px -8px;
}

.animal-form:hover > .form-input {
    width: fit-content;
}

.animal-form:hover > .form-input > .input-name,
.animal-form > .form-input > .input-name:focus {
    opacity: 1;
    width: 14rem;
}

.animal-form > .form-input > .input-name:focus {
    border: 2px solid black;
}

.animal-form:hover > .form-input > .input-name + .submit-button,
.animal-form > .form-input > .input-name:focus + .submit-button {
    opacity: 1;
    z-index: 1;
}

.animal-list:empty {
    display: none;
}
